zzz-test/TestWCF/_001WcfTestClient/Service References/ServiceReferenceMessageStream/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="ServiceMessgeStream" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="BasicHttpBinding_IServiceMessgeStream_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsp:Policy wsu:Id="NetTcpBinding_IServiceMessgeStream_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <msb:BinaryEncoding xmlns:msb="http://schemas.microsoft.com/ws/06/2004/mspolicy/netbinary1" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <msf:WindowsTransportSecurity xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy">
                  <msf:ProtectionLevel>EncryptAndSign</msf:ProtectionLevel>
                </msf:WindowsTransportSecurity>
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:Basic256 />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Strict />
              </wsp:Policy>
            </sp:Layout>
          </wsp:Policy>
        </sp:TransportBinding>
        <msf:Streamed xmlns:msf="http://schemas.microsoft.com/ws/2006/05/framing/policy" />
        <wsaw:UsingAddressing />
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/Message" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="UploadFileInfo">
    <wsdl:part name="ClientStream" element="tns:ClientStream" />
  </wsdl:message>
  <wsdl:message name="UploadFileInfo_Headers">
    <wsdl:part name="ServerFileName" element="tns:ServerFileName" />
  </wsdl:message>
  <wsdl:message name="IServiceMessgeStream_Upload_OutputMessage" />
  <wsdl:message name="IServiceMessgeStream_Download_InputMessage">
    <wsdl:part name="parameters" element="tns:Download" />
  </wsdl:message>
  <wsdl:message name="IServiceMessgeStream_Download_OutputMessage">
    <wsdl:part name="parameters" element="tns:DownloadResponse" />
  </wsdl:message>
  <wsdl:portType name="IServiceMessgeStream">
    <wsdl:operation name="Upload">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMessgeStream/Upload" name="UploadFileInfo" message="tns:UploadFileInfo" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMessgeStream/UploadResponse" message="tns:IServiceMessgeStream_Upload_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="Download">
      <wsdl:input wsaw:Action="http://tempuri.org/IServiceMessgeStream/Download" message="tns:IServiceMessgeStream_Download_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IServiceMessgeStream/DownloadResponse" message="tns:IServiceMessgeStream_Download_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IServiceMessgeStream" type="tns:IServiceMessgeStream">
    <wsp:PolicyReference URI="#BasicHttpBinding_IServiceMessgeStream_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Upload">
      <soap:operation soapAction="http://tempuri.org/IServiceMessgeStream/Upload" style="document" />
      <wsdl:input name="UploadFileInfo">
        <soap:header message="tns:UploadFileInfo_Headers" part="ServerFileName" use="literal" />
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Download">
      <soap:operation soapAction="http://tempuri.org/IServiceMessgeStream/Download" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="NetTcpBinding_IServiceMessgeStream" type="tns:IServiceMessgeStream">
    <wsp:PolicyReference URI="#NetTcpBinding_IServiceMessgeStream_policy" />
    <soap12:binding transport="http://schemas.microsoft.com/soap/tcp" />
    <wsdl:operation name="Upload">
      <soap12:operation soapAction="http://tempuri.org/IServiceMessgeStream/Upload" style="document" />
      <wsdl:input name="UploadFileInfo">
        <soap12:header message="tns:UploadFileInfo_Headers" part="ServerFileName" use="literal" />
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Download">
      <soap12:operation soapAction="http://tempuri.org/IServiceMessgeStream/Download" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ServiceMessgeStream">
    <wsdl:port name="BasicHttpBinding_IServiceMessgeStream" binding="tns:BasicHttpBinding_IServiceMessgeStream">
      <soap:address location="http://localhost:8733/_002WcfMessgeStreamLib/ServiceMessgeStream/" />
    </wsdl:port>
    <wsdl:port name="NetTcpBinding_IServiceMessgeStream" binding="tns:NetTcpBinding_IServiceMessgeStream">
      <soap12:address location="net.tcp://localhost:8734/_002WcfMessgeStreamLib/ServiceMessgeStream/" />
      <wsa10:EndpointReference>
        <wsa10:Address>net.tcp://localhost:8734/_002WcfMessgeStreamLib/ServiceMessgeStream/</wsa10:Address>
        <Identity xmlns="http://schemas.xmlsoap.org/ws/2006/02/addressingidentity">
          <Upn>SONGMIN-9010\admin</Upn>
        </Identity>
      </wsa10:EndpointReference>
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>