zzz-test/test_wcf/_001WcfClient/Service References/WcfStreamedServiceReference/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.microsoft.com/Message" />
  <xs:element xmlns:q1="http://schemas.microsoft.com/Message" name="ClientStream" type="q1:StreamBody" />
  <xs:element name="ServerFileName" nillable="true" type="xs:string" />
  <xs:element name="DownloadFileInfo">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element xmlns:q2="http://schemas.microsoft.com/Message" name="ServerStream" type="q2:StreamBody" />
</xs:schema>