zzz-test/WcfTransportSecurityAndCookie/WcfHttpUserNameSecClient/Connected Services/MyDataServiceReference/item.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/WcfTransportSecurityLibrary" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/WcfTransportSecurityLibrary" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="MyData">
    <xs:sequence>
      <xs:element minOccurs="0" name="Offset" type="xs:long" />
      <xs:element minOccurs="0" name="Length" type="xs:long" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Buffer" nillable="true" type="xs:base64Binary" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="MyData" nillable="true" type="tns:MyData" />
</xs:schema>