zzz-test/WcfTransportSecurityAndCookie/WcfHttpUserNameSecClient/Connected Services/MyDataServiceReference/MyDataService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MyDataService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsp:Policy wsu:Id="basicHttpBinding_policy">
    <wsp:ExactlyOne>
      <wsp:All>
        <wsoma:OptimizedMimeSerialization xmlns:wsoma="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" />
        <sp:TransportBinding xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:TransportToken>
              <wsp:Policy>
                <sp:HttpsToken RequireClientCertificate="false" />
              </wsp:Policy>
            </sp:TransportToken>
            <sp:AlgorithmSuite>
              <wsp:Policy>
                <sp:TripleDes />
              </wsp:Policy>
            </sp:AlgorithmSuite>
            <sp:Layout>
              <wsp:Policy>
                <sp:Lax />
              </wsp:Policy>
            </sp:Layout>
            <sp:IncludeTimestamp />
          </wsp:Policy>
        </sp:TransportBinding>
        <sp:SignedSupportingTokens xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy>
            <sp:UsernameToken sp:IncludeToken="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy/IncludeToken/AlwaysToRecipient">
              <wsp:Policy>
                <sp:WssUsernameToken10 />
              </wsp:Policy>
            </sp:UsernameToken>
          </wsp:Policy>
        </sp:SignedSupportingTokens>
        <sp:Wss10 xmlns:sp="http://schemas.xmlsoap.org/ws/2005/07/securitypolicy">
          <wsp:Policy />
        </sp:Wss10>
      </wsp:All>
    </wsp:ExactlyOne>
  </wsp:Policy>
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="https://songmin-9010:60443/?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="https://songmin-9010:60443/?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="https://songmin-9010:60443/?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/WcfTransportSecurityLibrary" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMyDataService_Begin_InputMessage">
    <wsdl:part name="parameters" element="tns:Begin" />
  </wsdl:message>
  <wsdl:message name="IMyDataService_Begin_OutputMessage">
    <wsdl:part name="parameters" element="tns:BeginResponse" />
  </wsdl:message>
  <wsdl:message name="IMyDataService_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IMyDataService_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMyDataService_End_InputMessage">
    <wsdl:part name="parameters" element="tns:End" />
  </wsdl:message>
  <wsdl:message name="IMyDataService_End_OutputMessage">
    <wsdl:part name="parameters" element="tns:EndResponse" />
  </wsdl:message>
  <wsdl:portType msc:usingSession="false" name="IMyDataService">
    <wsdl:operation name="Begin">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyDataService/Begin" message="tns:IMyDataService_Begin_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyDataService/BeginResponse" message="tns:IMyDataService_Begin_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyDataService/GetData" message="tns:IMyDataService_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyDataService/GetDataResponse" message="tns:IMyDataService_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="End">
      <wsdl:input wsaw:Action="http://tempuri.org/IMyDataService/End" message="tns:IMyDataService_End_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMyDataService/EndResponse" message="tns:IMyDataService_End_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="basicHttpBinding" type="tns:IMyDataService">
    <wsp:PolicyReference URI="#basicHttpBinding_policy" />
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="Begin">
      <soap:operation soapAction="http://tempuri.org/IMyDataService/Begin" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IMyDataService/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="End">
      <soap:operation soapAction="http://tempuri.org/IMyDataService/End" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MyDataService">
    <wsdl:port name="basicHttpBinding" binding="tns:basicHttpBinding">
      <soap:address location="https://songmin-9010:60443/MyDataService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>